@import '../variables';

.btn {
    width: 438px;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: $md;
    margin: 15px;

    &:hover {
        cursor: pointer;
        background: cornflowerblue;
        transition: all .4s ease-in ;
    }
}