@import '../variables';

.btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: $md;
  margin: 15px;
}

.btn-100 {
  width: 100%;
}

.btn-75 {
  width: 75%;
}

.btn-50 {
  width: 50%;
}

.btn-60 {
  width: 60%;
}

.btn-25 {
  width: 25%;
}

.outline__primary {
  border: 2px solid $primary;
  color: $primary;
  background: #fff;

  &:hover {
    background: $primary;
    color: $bg-primary;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }
}

// primary button
.btn__primary {
  background: $primary;

  &:hover {
    cursor: pointer;
    background: $bg-primary;
    color: $primary;
    border: 2px solid $primary;
    transition: all 0.4s ease-in;
  }
}

// social buttons
.facebook__btn {
  background: $bg-primary;
  color: $facebook-blue;
  border: 2px solid $facebook-blue;

  &:hover {
    cursor: pointer;
    background: $facebook-blue;
    color: $bg-primary;
    transition: all 0.4s ease-in;
  }
}

.google__btn {
  background: $bg-primary;
  color: $google;
  border: 2px solid $google;

  &:hover {
    cursor: pointer;
    background: $google;
    color: $bg-primary;
    transition: all 0.4s ease-in;
  }
}
