@import '../variables.scss';

.input {
  .form__control {
    height: 40px;
    width: 100%;
    margin: 15px;
    align-content: center;
    padding: 10px;

    &::placeholder {
      font-size: $sm;
    }
  }
}
