@import '../variables.scss';

.input {
  width: 430px;

  .form__control {
    height: 40px;
    width: 100%;
    margin: 15px;
    font-size: 18px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: $primary;
    border-width: 2px;
    outline-color: $primary;
    outline-width: 1px;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.25);

    &::placeholder {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}
