// colors
$bg-primary: ghostwhite;
$primary: rgb(2, 10, 85);

// font sizes
$xsm: 10px;
$sm: 15px;
$md: 25px;
$lg: 35px;
$xlg: 50px;
$xxlg: 75px;

// utility (debugging)
$debug: 1px solid red;

// buttons
$facebook-blue: blue;
$google: red;
