@import '../scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

// global util classes
.flex {
  display: flex;
}

.fab {
  font-size: $md;
}

.fa-facebook {
  color: $facebook-blue;
}

.fa-google {
  color: $google-red;
}

.link__text__primary {
  text-decoration: none;
  color: $primary;
}

.link__text__underline {
  color: $primary;
}

h1 {
  text-align: center;
  color: $primary;
}
//

body {
  background: $bg-primary;
}

// header section starts here
header {
  display: flex;
  justify-content: space-around;
  padding: 10px;

  .brand {
    h1 {
      padding-top: 15px;
      color: $primary;
    }
  }

  nav ul {
    display: flex;

    li {
      margin: 15px;
      list-style-type: none;
      text-decoration: none;
      font-size: $mobile;
    }
  }

  @media only screen and (max-width: 576px) {
    justify-content: space-between;

    nav ul {
      display: none;
    }
  }
}

// header section ends here

// landing page component starts here
.landing__base {
  #head {
    margin: 8%;
    width: 865px;
    // border: $debug;

    @media only screen and (max-width: 576px) {
      width: 100%;
      margin: 0;

      .dodo__base {
        padding: 5%;
        margin-top: 15%;

        .dodo__text {
          font-size: $lg;
        }

        .get-started {
          height: 45px;
          width: 300px;
        }
      }
    }

    .dodo__base {
      width: 100%;
      padding: 3%;
      line-height: 65px;

      .dodo__text {
        padding: 3%;
        color: $primary;
        font-size: $xlg;
        padding-bottom: 5%;
      }

      .get-started {
        margin: 3%;
        height: 45px;
      }
    }
  }
}
