@import '../scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-primary;
}

h1 {
  text-align: center;
}

// header section starts here
header {
  display: flex;
  justify-content: space-around;

  nav ul {
    display: flex;

    li {
      margin: 20px;
      list-style-type: none;
    }
  }
}
