@import '../scss/variables.scss';

// general utilis classese for all forms
.base {
  margin-top: 5%;

  .form__base {
    width: 470px;
    height: 100%;
    margin: 0 auto;
    border: 3px solid $primary;

    .form__title {
      font-size: $lg;
      padding: 18px;
      color: $primary;
    }

    .alt-text {
      padding: 17px;
      margin-top: 2%;
      color: $primary;

      Link {
        color: $primary;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    margin-top: 18%;

    .form__base {
      margin: 0 auto;
      width: 400px;

      .form {
        width: 100%;
      }

      .alt-text {
        margin-top: 0;
        width: 350px;
        font-size: $sm;
      }
    }
  }
}
